header {
  background-color: black;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}


.header_nav{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 100%;
  li{
    text-transform: uppercase;
    padding-left: 25px;
    ul{
      display: none;
      background-color: black;
    }
    &:last-child {
      padding-right: 80px;
    }
    &:first-child {
      margin-right: auto;
      padding-left: 60px;
      span{
        color: #24ba9f;
      }
    }
  }
  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
  }
}
