header {
  background-color: black;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}


.header_nav{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 100%;
  li{
    text-transform: uppercase;
    padding-left: 25px;
    position: relative;
    &:hover > .header_nav_submenu {
      display: block;
    }
    .header_nav_submenu{
      display: none;
      padding-top: 10px;
      list-style: none;
      position: absolute;
      li{
        background-color: black;
        text-transform: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
      }
      &:before{
        display: block;
        content: "";
        width: 0;
        height: 0;
        margin-left: 50%;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
      }
    }
    &:last-child {
      padding-right: 80px;
    }
    &:first-child {
      margin-right: auto;
      padding-left: 60px;
      span{
        color: #24ba9f;
      }
    }
  }
  a{
    color: white;
    background: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
    &:hover {
      background: rgba(160,160,160,1);
    }
  }
}
