header {
  background-color: black;
  height: 40px;
}

.logo {
  float: left;
  color: white;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 40px;
  font-weight: 900;
}

.logo span {
  color: $main_color;
}

nav ul{
  list-style: none;
  padding-top: 15px;
  float: right;

}
nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

nav > ul > li {
  float: left;
  position: relative;
  text-transform: uppercase;
}

nav > ul > li > ul {
  position: absolute;
  display: none;
  padding-top: 10px;
  text-transform: none;
}


nav > ul >li > ul > li {
  background-color: black;
}
nav > ul > li > ul > li > a {
  padding: 10px;
}

nav > ul > li:hover ul{
  display: block;
}

nav > ul > li > ul:before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  margin-left: 50%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}