.showcase_div {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
    .showcase_element {
      width: 330px;
      height: 225px;
      position: relative;
      border: solid 1px #d9d9d9;
      &:nth-child(1) {
        background-image: url("../images/box1_img.jpg");
      }
      &:nth-child(2) {
        background-image: url("../images/box2_img.jpg");
      }
    }
}